.summonerHistoryGames
    min-height: 100px
    width: 100%
    margin: 0 auto
    position: relative
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    margin-top: 5px
   
    
    